body {
    background-color: black;
}

.poster-container {
    width: 50%;
    margin: 0% 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}

.poster-image {
    width: 100%;
    border: 5px solid white;
}

h1 {
    font-family: 'Libre Baskerville', cursive;
    text-transform: uppercase;
    font-size: 3rem;
}